If:
  PathMatch: evalio/.*

CompileFlags:
  CompilationDatabase: evalio/build/cp311-cp311-linux_x86_64/compile_commands.json

---

If:
  PathMatch: loam/.*

CompileFlags:
  CompilationDatabase: loam/build/cp311-cp311-linux_x86_64/compile_commands.json